<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />

    <!-- Static CSS -->
  <link rel="stylesheet" type="text/css" href="/static/style.css">

<title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <div class="navbar-container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand">OrderTracks</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% block homeactive %}{% endblock homeactive %}" aria-current="page"
                                href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled {% block trackorderactive %}{% endblock trackorderactive %}" aria-current="page" aria-disabled="true">Track Your Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="/admin/home/">Add Order</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--Message Functionality-->
    <!--
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert">
        <strong>Message: {{ message }}</strong>
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    -->
    {% block body %} {% endblock body %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
        </script>
</body>
</html>