{% extends "base.html" %} 
{% block title %} Order Search Results {% endblock title %} 

{% block body %}
<div class="container my-4">
    <h2>Search Results by OrderTracks:</h2>

    <!--Functionality if no order found-->
    {% if allOrders|length < 1 %}
    Your OrderId - <b> {{orderId | truncatechars:10}} </b>- did not match any orders.
    <br>
    Suggestion:
    <ul>
    <li>Check your OrderId.</li>
    <li>Enter Correct OrderId.</li>
    </ul> 
    {% endif %}
    {% for order in allOrders %}
    <!--Functionality to search the database for oders-->
    <div class="card col-md-4 my-4">
        <p class="">
            <p class="card-title"><b> OrderId: </b>{{order.order_id}}</p>
            <p class="card-text"><b> Customer Name: </b>{{order.custname}}</p>
            <p class="card-text"><b> Contact Number: </b>{{order.custnumber}}</p>
            <p class="card-text"><b> Delivery Address: </b>{{order.custaddress}}</p>
            <p class="card-text"><b> Order Price: </b>{{order.order_Price}}</p>
            <p class="card-text"><b> Order Date/Time: </b>{{order.order_Time}}</p>
        </p>
    </div>
    <span><a class="btn btn-primary btn-lg" href="/trackorder" role="button">Back</a></span>
    {% endfor %}
</div>
{% endblock body %}